#nav {
    display: flex;
    justify-content: center;
    /* /* height: 9rem;  */
    
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#containermar{
    margin-left: 200px;
}
#btnmar{
 margin-left: 200px;

}
@media (max-width:700px) {
    #containermar{
        margin-left: 0px;
    }
    #searchinput{
        margin:0px;
        margin-bottom: 5px;
        padding: 0px;
    }
    #btnmar{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    #btnmar1{
        margin-left: 0px;
        margin: 0px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        
    }
    
}