<!-- footer.component.html -->
<footer class="site-footer" style="min-height: 100px;background-color: white;border-top: 2px solid grey;">
    <div class="footer-content d-flex justify-content-center align-items-center flex-column">
        <div class="font-bold underline" >
            © 2024 Blog 2.0. All rights reserved.

        </div>
        <div class="footer-links" >
            <a href="#" style="color: black;text-decoration: none;" >Privacy Policy</a><span style="color: orange;">|</span>
            <a href="#" style="color: black;text-decoration: none;">Terms of Service</a><span style="color: orange;">|</span>
            <a href="#" style="color: black;text-decoration: none;">Contact Us</a>
        </div>
    </div>
</footer>