<div style="overflow-x: hidden;">
    <div *ngFor="let i of specificBlogArray" class="d-flex flex-column justify-content-center">

        <h1 class="text-center mt-4 mb-4">{{i.posttitle}}</h1>
        <div class="mx-4 mb-4">{{i.posttext}}</div>
    
        <img src="{{BASE_URL}}/upload/{{i.image}}" width="100%" alt="ssssssssssssssssssss">
    
    </div>
    <div class="d-flex flex-column mt-4 w-100 ">
        <form>
    
            <div class="d-flex justify-content-center align-items-center">
                <Input class="form-control comment w-100 mx-2" type="text" name="comment" ngDefaultControl (keyup)="onchange()"
                    [(ngModel)]="comments.comment" style="border-radius: 10px solid grey;height: 60px;margin-bottom: 40px;"
                    placeholder="Add comments">
                <div class="d-flex justify-content-center align-items-center pb-4 px-3">
                    <i style="height: 60px;" class="fa-regular fa-lg fa-paper-plane" style="font-size: xx-large;"
                        (click)="sendComment()"></i>
                </div>
            </div>
            <!-- <button (click)="sendComment()">Add</button> -->
        </form>
        <div class="text-center w-100" *ngFor="let i of specificBlogArray">
            <h2 *ngFor="let i of i.comments" class="d-flex justify-content-center">
                <div class="d-flex flex-column w-100 ">
                    <div class="m-2 d-flex justify-content-start" style="width: 100%;font-size: 10px;">@{{i.username}}</div>
    
                    <div>
                        <div class="d-flex justify-content-start" style="width: 100%;font-size: 14px;margin-left: 30px;">{{i.comment}}</div>
                        <div class="d-flex justify-content-end me-2" style="font-size: 10px;">{{i.date|date}}</div>
    
                    </div>
    
                </div>
            </h2>
    
        </div>
    </div>
</div>