<div style="overflow-x: hidden;">
    <div class="d-flex flex-column justify-content-center">

        <h1 class="text-center mt-4 mb-4">The Next Era — We Shape AI, AI Shapes Us</h1>
        <div class="mx-4 mb-4">
            The effects of generative AI, labor and supply chain disruptions, and volatile geopolitical environments
            require decisions on how enterprises compete and operate at a level not seen in decades. Discover how to
            create transformative new digital products, services and business models.
            The effects of generative AI, labor and supply chain disruptions, and volatile geopolitical environments
            require decisions on how enterprises compete and operate at a level not seen in decades. Discover how to
            create transformative new digital products, services and business models.
            The effects of generative AI, labor and supply chain disruptions, and volatile geopolitical environments
            require decisions on how enterprises compete and operate at a level not seen in decades. Discover how to
            create transformative new digital products, services and business models.
        </div>

        <img src="assets\special-programs-women-in-tech.png" width="100%" alt="ssssssssssssssssssss">

    </div>

</div>