/* login.component.scss */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #fff;
  }
  
  .login-title {
    color: #000;
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-control {
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 4px;
  }
  
  .btn-login {
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #333;
    }
  }
  